name: sm_scan
description: 商米手机带红外扫描器的条码数据获取插件,仅支持Android
version: 5.0.1
homepage: https://github.com/mdddj/shangmi_scan_data_flutter

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.19.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  plugin:
    platforms:
      android:
        package: com.example.sm_scan
        pluginClass: SmScanPlugin
      ios:
        pluginClass: SmScanPlugin

