name: sm_scan
description: A new flutter plugin project.
version: 1.0.0
homepage: https://github.com/mdddj/shangmi_scan_data_flutter

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=1.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  plugin:
    platforms:
      android:
        package: com.example.sm_scan
        pluginClass: SmScanPlugin
      ios:
        pluginClass: SmScanPlugin

